/* BANNER */

.banner-page {
    margin-left: auto;
    margin-right: auto;
  
    max-width: 1600px;
    height: 600px;
  
    background-color: $bannerBgColor;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
  
    text-align: center;
  }

    /* або можна дати перший фон за допомогою формата картинки (також працює, перевірено)
        PNG background-image: url(../images/Overlay.png),
    url(../images/banner.jpg) ;  */
  
  .banner {
    padding: 200px 0;
  }
  
  .banner__text {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  
    max-width: 696px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  
    color: $tertiaryTextColor;
  }

  .banner__btn {
    padding: 10px 24px;
  
    min-width: 216px;
    height: 50px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em; 
  
    cursor: pointer;
    border: none;
    border-radius: 4px;
  
    color: $tertiaryTextColor;
    background-color: $primaryBtnBgColor;
  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: $timeHover $cubicFunction;
  }
  
  .banner__btn:hover,
  .banner__btn:focus {
    background-color: $secondaryBtnBgColor;
  }